<h1>Order Items</h1>
<strong class="btn btn-sm btn-info"><%= @order.order_state %></strong>
Orderd On: <strong><%=  distance_of_time_in_words_to_now(@order.created_at)%> ago</strong>
<button class="float-right btn btn-sm btn-info"><%= @order.waiter ? @order.waiter.name : "-"%></button>
<table class="table table-hover mtop-20">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>price</th>
      <th>Table</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.name %></td>
        <td><%= order_item.category %></td>
        <td><%= order_item.price%></td>
        <td><%= order_item.order.dine_table.table_number%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<button class="btn btn-info" ><strong>Total: </strong> <%= @order_items.map(&:price).sum%></button>

<%unless  @order.order_state == "Settled" %>
  <%= link_to 'Settle', order_path(@order), class: "btn btn-success", method: :put %>
<%end%>
<%= link_to 'Orders', orders_path, class: "btn btn-warning" %>
<%= link_to 'Dine Tables', root_path, class: "btn btn-danger" %>
